body {
  margin: 0 auto;
  width: 100%;
  background: #ffffff;
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #666666;
}

h1, h2, h3 {
  font-weight: normal;
}

footer {
  font-size: 0.8em;
  clear: both;
  text-align: center;
}

/* Sidebar
 */
nav {
  float: left;
  padding: 15px;
  width: 140px;
}

/* Content div
 */
.main {
  float: left;
  width: 700px;
  padding-top: 15px;
}

/* Title
 */
.main h1 {
  font-size: 2em;
  padding: 0 2px 10px 0;
}

/* Main section headers: description, properties, methods, etc.
 */
.main h2 {
  font-size: 1.2em;
  padding: 2px;
  color: #ffffff;
  background-color: #000000;
}

.main a {
  border-bottom: 1px #000000 dotted;
}

.main section {
  padding: 15px 0;
}

.main details ol, .main details ul {
  margin-left: 2em;
  list-style-type: none;
}

/* property details */
.main details h3 {
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 0.5em;
  color: #666666;
}

.main ul, .main ol {
  margin-left: 1.5em;
}

/* property name and type sig - block
 */
.main dt {
  font-size: 1em;
  margin: 20px 0 5px;
  padding: 2px 2px 2px 2em;
  background-color: #e0e0e0;
  text-indent: -1.8em; //indent lines after first
}

/* property name - inline
 */
.main dt dfn {
  font-weight: bold;
}

/* optional annotation for function parameters
 */
.main dl .param_annotation {
  font-size: 0.8em;
  color: #666666;
}

/* code examples
 */
.main dl details samp {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.8em;
}

/* Buttons to collapse sub-sections
 */
.main .expandButton {
  cursor: pointer;
  float: right;
  text-indent: 0px;
  font-family: monospace;
  font-size: 16px;
}
.main h2 .expandButton {
  color: #ffffff;
}
.main dt .expandButton {
  color: #000000;
}
